/* ========= RESOURCES ==========  */


/* font-family: 'Radio Canada', sans-serif; */


/* ============ CSS RESET ==============  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}


/* ============== NAVBAR-ONE ============= */

#navOne {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: black;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
    font-family: 'Radio Canada', sans-serif;
}

#navOne .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


/* ============== NAVBAR-TWO ============= */

#navTwo {
    width: 100%;
    background-color: black;
    color: white;
}

#navTwo .container {
    width: 90%;
    height: auto;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#navTwo .container .box1 {
    display: flex;
}

#navTwo .container .box1 .sub-box {
    padding: 0.6rem;
    margin: 0rem 2rem;
    border-right: 1px solid rgba(255, 255, 255, 0.146);
}

#navTwo .container .box1 .sub-box i {
    background-color: #FFC000;
    padding: 0.7rem;
    border-radius: 210px;
    color: black;
    font-size: 0.8rem;
}

#navTwo .container .box2 .social-icon i {
    margin: 0.5rem;
    background-color: black;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.203);
    border-radius: 200px;
    font-size: 1rem;
    transition: all 0.5s;
}

#navTwo .container .box2 .social-icon i:hover {
    background-color: #FFC000;
    color: black;
}


/* =============== NAVBAR MAIN ==============  */

#navMain {
    width: 100%;
    height: auto;
}

#navMain .container {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#navMain .container .logo {
    width: 40%;
    height: auto;
    background-image: url(/images/pattern_bg_1.png);
    padding: 2rem;
}

#navMain .container .menu {
    width: 60%;
    height: auto;
    background-color: #FFC000;
    padding: 2rem;
}

#navMain .container .menu .navbar ul {
    height: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navMain .container .menu .navbar ul li {
    height: auto;
    list-style: none;
    margin: 0rem 1rem;
}

#navMain .container .menu .navbar ul li a {
    text-decoration: none;
    color: black;
}


/* ============ HERO SECTION ==========  */

#hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 0, 0, 0.11), rgba(0, 0, 0, 0.727)), url(./images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero .container {
    width: 90%;
    height: 100%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .container .content p {
    font-size: 2rem;
}

#hero .container .content h1 {
    font-size: 5rem;
    padding: 1rem 0rem;
}

#hero .container .content h3 {
    width: 50%;
    margin: auto;
}


/* ============== ABOUT SECTION ==================  */

#about {
    width: 100%;
    padding: 2rem 0rem;
}

#about .container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

#about .container .box {
    width: 100%;
    padding: 1rem;
}

#about .container .box h1 {
    font-size: 2.5rem;
    margin: 1rem 0rem;
}

#about .container .box .about-para {
    /* margin: 1rem 0rem; */
    padding: 1rem 0rem;
    color: gray;
    line-height: 1.8;
}

#about .container .box .about-founder {
    display: flex;
    align-items: center;
}

#about .container .box .about-founder .founder-img img {
    border-radius: 50%;
}

#about .container .box .about-founder .founder-details {
    margin-left: 1rem;
}

#about .container .box .btnOne {
    padding: 2rem 0rem;
}

#about .container .box .btnOne a {
    text-decoration: none;
    color: black;
    background-color: rgb(238, 205, 15);
    padding: 1rem 1.5rem;
    font-weight: bolder;
    transition: all 0.6s;
}

#about .container .box .btnOne a:hover {
    background-color: black;
    color: white;
}