/* ========= RESOURCES ==========  */


/* font-family: 'Radio Canada', sans-serif; */


/* ============ CSS RESET ==============  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}


/* ============== NAVBAR-ONE ============= */

#navOne {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: black;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
    font-family: 'Radio Canada', sans-serif;
}

#navOne .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


/* ============== NAVBAR-TWO ============= */

#navTwo {
    width: 100%;
    background-color: black;
    color: white;
}

#navTwo .container {
    width: 90%;
    height: auto;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#navTwo .container .box1 {
    display: flex;
}

#navTwo .container .box1 .sub-box {
    padding: 0.6rem;
    margin: 0rem 2rem;
    border-right: 1px solid rgba(255, 255, 255, 0.146);
}

#navTwo .container .box1 .sub-box i {
    background-color: #FFC000;
    padding: 0.7rem;
    border-radius: 210px;
    color: black;
    font-size: 0.8rem;
}

#navTwo .container .box2 .social-icon i {
    margin: 0.5rem;
    background-color: black;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.203);
    border-radius: 200px;
    font-size: 1rem;
    transition: all 0.5s;
}

#navTwo .container .box2 .social-icon i:hover {
    background-color: #FFC000;
    color: black;
}


/* =============== NAVBAR MAIN ==============  */

#navMain {
    width: 100%;
    height: auto;
}

#navMain .container {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#navMain .container .logo {
    width: 40%;
    height: auto;
    background-image: url(/images/pattern_bg_1.png);
    padding: 2rem;
}

#navMain .container .menu {
    width: 60%;
    height: auto;
    background-color: #FFC000;
    padding: 2rem;
}

#navMain .container .menu .navbar ul {
    height: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navMain .container .menu .navbar ul li {
    height: auto;
    list-style: none;
    margin: 0rem 1rem;
}

#navMain .container .menu .navbar ul li a {
    text-decoration: none;
    color: black;
}


/* ============ HERO SECTION ==========  */

#hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 0, 0, 0.11), rgba(0, 0, 0, 0.727)), url(./images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero .container {
    width: 90%;
    height: 100%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .container .content p {
    font-size: 2rem;
}

#hero .container .content h1 {
    font-size: 5rem;
    padding: 1rem 0rem;
}

#hero .container .content h3 {
    width: 50%;
    margin: auto;
}


/* ============== ABOUT SECTION ==================  */

#about {
    width: 100%;
    padding: 2rem 0rem;
}

#about .container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

#about .container .box {
    width: 100%;
    padding: 1rem;
}

#about .container .box h1 {
    font-size: 2.5rem;
    margin: 1rem 0rem;
}

#about .container .box .about-para {
    /* margin: 1rem 0rem; */
    padding: 1rem 0rem;
    color: gray;
    line-height: 1.8;
}

#about .container .box .about-founder {
    display: flex;
    align-items: center;
}

#about .container .box .about-founder .founder-img img {
    border-radius: 50%;
}

#about .container .box .about-founder .founder-details {
    margin-left: 1rem;
}

#about .container .box .btnOne {
    padding: 2rem 0rem;
}

#about .container .box .btnOne a {
    text-decoration: none;
    color: black;
    background-color: rgb(238, 205, 15);
    padding: 1rem 1.5rem;
    font-weight: bolder;
    transition: all 0.6s;
}

#about .container .box .btnOne a:hover {
    background-color: black;
    color: white;
}


/* ================ OUR SERVICES SECTION =================  */

#services {
    width: 100%;
    background-image: url(./images/service-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 3rem 0rem;
}

#services .container {
    width: 90%;
    margin: auto;
}

#services .container .services-heading {
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
}

#services .container .services-heading h1 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
}

#services .container .services-heading p {
    width: 50%;
    margin: auto;
}

#services .container .card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .container .card-container .card {
    margin: 0.5rem;
    background-color: white;
}

#services .container .card-container .card .card-text {
    padding: 1.5rem;
}

#services .container .card-container .card .card-content img {
    width: 100%;
}

#services .container .card-container .card .card-text h2 {
    padding: 0.5rem 0rem;
}

#services .container .card-container .card .card-text p {
    padding: 0.5rem 0rem;
    line-height: 1.7;
}

#services .container .card-container .card .card-text .service-btn {
    width: 100%;
    margin-top: 1rem;
}

#services .container .card-container .card .card-text .service-btn a {
    width: 100%;
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 0.7rem 1.5rem;
    border-radius: 100% 0% 56% 44% / 30% 19% 81% 70%;
    transition: all 0.5s;
}

#services .container .card-container .card .card-text .service-btn a:hover {
    background-color: rgb(230, 226, 11);
    color: black;
}


/* ================= OUR AVAILABLE TAXIS ================   */

#taxi {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.042);
    padding: 3rem 0rem;
}

#taxi .container {
    width: 90%;
    margin: auto;
}

#taxi .container .taxi-heading {
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
}

#taxi .container .taxi-heading h1 {
    padding: 1rem 0rem;
    font-size: 3rem;
}

#taxi .container .taxi-heading p {
    color: gray;
    line-height: 1.7;
    width: 50%;
    margin: auto;
}

#taxi .container .taxi-cate {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0rem;
}

#taxi .container .taxi-cate h3 {
    background-color: black;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

#taxi .container .taxi-cate .special {
    background-color: #FFC000;
    color: black;
}

#taxi .container .taxi-details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 0px 30px rgb(238, 232, 232);
}

#taxi .container .taxi-details .card {
    width: 100%;
}

#taxi .container .taxi-details .card .content {
    width: 100%;
}

#taxi .container .taxi-details .card .content .box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0rem;
}

#taxi .container .taxi-details .card .content .box h3 {
    width: 100%;
}

#taxi .container .taxi-details .card .content .box p {
    width: 100%;
    margin-left: 1rem;
}

#taxi .container .taxi-details .card img {
    width: 100%;
}

#taxi .container .taxi-details .card-3 {
    width: 100%;
    padding: 0rem 1rem;
}

#taxi .container .taxi-details .card-3 p {
    color: gray;
}

#taxi .container .taxi-details .card-3 h3 {
    padding: 1rem 0rem;
}

#taxi .container .taxi-details .card-3 .btn {
    padding: 2rem 0rem;
}

#taxi .container .taxi-details .card-3 .btn a {
    text-decoration: none;
    color: black;
    padding: 1rem 1.5rem;
    background-color: #ffc000;
    font-weight: bolder;
}


/* ================= OUR ADVANTAGE ================  */

#advantage {
    width: 100%;
    height: auto;
    padding: 3rem 0rem;
    background-image: radial-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.404)), url(./images/advantage-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#advantage .container {
    width: 90%;
    margin: auto;
}

#advantage .container .heading {
    width: 100%;
    color: white;
    text-align: center;
}

#advantage .container .heading h1 {
    font-size: 2.5rem;
    padding: 1rem 0rem;
}

#advantage .container .heading p {
    width: 50%;
    margin: auto;
    line-height: 1.6;
}

#advantage .container .card-container {
    width: 100%;
    display: flex;
    padding: 2.5rem 0rem;
}

#advantage .container .card-container .card {
    background-color: white;
    margin: 0rem 1rem;
    padding: 3rem 1.5rem;
    text-align: center;
    border-radius: 1rem;
}

#advantage .container .card-container .card .card-content {
    padding: 1rem 0rem;
}

#advantage .container .card-container .card .card-content i {
    font-size: 2rem;
    padding: 1rem 0rem;
}

#advantage .container .card-container .card .card-content h2 {
    padding: 1rem 0rem;
}